<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plantynet.warning.sql.adminMapper">

	<resultMap id="managerVO" type="com.plantynet.warning.vo.ManagerVO">
        <result property="managerId" column="manager_id" javaType="int"/>
        <result property="managerNm" column="manager_nm" javaType="String"/>
        <result property="loginId" column="login_id" javaType="String"/>
        <result property="loginPassword" column="login_password" javaType="String"/>
        <result property="phoneNo" column="phone_no" javaType="String"/>
    </resultMap>

	
	
	<insert id="addAdmin">
		insert into MANAGER(manager_nm,login_id,login_password,phone_no,email,sttus) values(#{managerNm},#{loginId},password(#{loginPassword}),#{phoneNo},#{email},"ACT01")
	</insert>
	
	<select id="getLoginIdCount" resultType="int">
		select count(*) from MANAGER where login_id = #{loginId} and sttus = "ACT01"
	</select>
	
	<select id="getManagerList" resultType="com.plantynet.warning.vo.ManagerVO" resultMap="managerVO" >
		select * from MANAGER where sttus = "ACT01"
	</select>
	
	<update id = "deleteAdmin">
		UPDATE MANAGER SET sttus= "ACT02"  WHERE manager_id = #{managerId} 
	</update>
	
	<update id="updateEvntMngrByManagerId">
        UPDATE EVENT_MANAGER
        SET sttus = "ACT02"
        WHERE manager_id = #{managerId}
    </update>

</mapper>