<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plantynet.warning.sql.loginMapper">

	<resultMap id="managerVO" type="com.plantynet.warning.vo.ManagerVO">
        <result property="managerId" column="manager_id" javaType="int"/>
        <result property="managerNm" column="manager_nm" javaType="String"/>
        <result property="loginId" column="login_id" javaType="String"/>
        <result property="loginPassword" column="login_password" javaType="String"/>
        <result property="phoneNo" column="phone_no" javaType="String"/>
    </resultMap>

	<select id="login" resultType="int">
		select count(*) from MANAGER where login_id = #{id} and login_password =password(#{password}) and sttus = "ACT01"
	</select>
	
	<select id="getManagerByLoginId" resultType="com.plantynet.warning.vo.ManagerVO" resultMap="managerVO">
		select * from MANAGER where login_id = #{id} and sttus = "ACT01"
	</select>
	
</mapper>