<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plantynet.warning.sql.serverInfoMapper">
    <resultMap id="getServerInfo" type="com.plantynet.warning.vo.ServerVO">
        <result property="serverId" column="server_id" javaType="Integer"/>
        <result property="serverNm" column="server_nm" javaType="String"/>
        <result property="ip" column="ip" javaType="String"/>
    </resultMap>
    
    <resultMap id="getServerEventList" type="com.plantynet.warning.vo.EventVO">
        <result property="eventId" column="event_id" javaType="Integer"/>
        <result property="serverId" column="server_id" javaType="Integer"/>
        <result property="eventCode" column="event_code" javaType="String"/>
        <result property="description" column="description" javaType="String"/>
        <result property="rgsde" column="rgsde" javaType="String"/>
    </resultMap>
    
    <resultMap id="getEventManagerInfoList" type="com.plantynet.warning.vo.ManagerInChargeVO">
        <result property="managerId" column="manager_id" javaType="Integer"/>
        <result property="eventId" column="event_id" javaType="Integer"/>
        <result property="managerNm" column="manager_nm" javaType="String"/>
        <result property="alertMth" column="alert_mth" javaType="String"/>
        <result property="alertTerm" column="alert_term" javaType="Integer"/>
        <result property="rgsde" column="rgsde" javaType="String"/>
        <result property="updde" column="updde" javaType="String"/>
    </resultMap>
    
    
    <select id="getServerIdByName" resultType="Integer">
    	SELECT server_id
		FROM SERVER
		WHERE SERVER.server_nm = #{serverNm}
		<!-- AND SERVER.sttus = 'ACT01' --> 
    </select>
    
    <select id="getServerEventList" resultMap="getServerEventList">
        select event_id, server_id, event_code, description, rgsde 
        from EVENT 
        where server_id = #{serverId} and sttus = "ACT01"
    </select>
    
    <select id="getEventManagerInfoList" resultMap="getEventManagerInfoList">
		select EVENT_MANAGER.manager_id, EVENT_MANAGER.event_id, MANAGER.manager_nm, EVENT_MANAGER.alert_mth, EVENT_MANAGER.alert_term, EVENT_MANAGER.rgsde, EVENT_MANAGER.updde
		from EVENT_MANAGER 
		join MANAGER ON MANAGER.manager_id = EVENT_MANAGER.manager_id
		where event_id = #{eventId} and EVENT_MANAGER.sttus = "ACT01"
    </select>
    
    <select id="getServerInfo" resultMap="getServerInfo">
		select server_id, SERVER.server_nm, SERVER.ip
		from SERVER
		where server_id = #{serverId}
    </select>
    
    <update id="updateEvent">
		UPDATE EVENT 
		SET description = #{description}, updde = CURRENT_TIMESTAMP()
		WHERE event_id = #{eventId}
    </update>
    
    <update id="updateEventForDel">
        UPDATE EVENT
        SET sttus = "ACT02"
        WHERE event_id = #{eventId}
    </update>
    
    <update id="updateEvntMngrForDel">
        UPDATE EVENT_MANAGER
        SET sttus = "ACT02"
        WHERE event_id = #{eventId}
    </update>
    
    <update id="updateEvntMngr">
		UPDATE EVENT_MANAGER
		SET manager_id = #{managerId}, alert_mth = #{alertMth}, alert_term = #{alertTerm}, updde = CURRENT_TIMESTAMP()
		WHERE event_id = #{eventId} and manager_id = #{oldManagerId}
    </update>
    
    <update id="deleteEvntMngr">
        DELETE FROM EVENT_MANAGER
        WHERE manager_id = #{managerId} and event_id = #{eventId}
    </update>
    
    <select id="checkPlusEvent" resultType="int">
        select count(*) from EVENT
        where event_code = #{eventCode} and sttus = "ACT01" 
    </select>
    
    <insert id="plusEvent">
        insert into EVENT (server_id, event_code, description, sttus)
        values (#{serverId}, #{eventCode}, #{description}, "ACT01")
    </insert>
    
    <select id="checkPlusEvntMngr" resultType="int">
        select count(*) from EVENT_MANAGER
        where manager_id = #{managerId} and event_id = #{eventId} and sttus = "ACT01"
    </select>
    
    <insert id="plusEvntMngr">
        insert into EVENT_MANAGER (manager_id, event_id, alert_mth, alert_term, sttus)
        values (#{managerId}, #{eventId}, #{alertMth}, #{alertTerm}, 'ACT01')
    </insert>
    
</mapper>