<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plantynet.warning.sql.serverListMapper">

	<resultMap id="serverVO" type="com.plantynet.warning.vo.ServerVO">
        <result property="serverId" column="server_id" javaType="int"/>
        <result property="serverNm" column="server_nm" javaType="String"/>
        <result property="ip" column="ip" javaType="String"/>
        <result property="sttus" column="sttus" javaType="String"/>
        <result property="rgsde" column="rgsde" javaType="String"/>
        <result property="updde" column="updde" javaType="String"/>
    </resultMap>
    
    <select id="getServerList" resultMap="serverVO">
		select * from SERVER where sttus = "ACT01"
	</select>
	
	<!-- 팀 아이디로 검색 안함 (수정 반영 후 메소드명은 그대로 둠) -->
	<select id="getServerListByIpInTeam" resultMap="serverVO">
		select * from SERVER where ip = #{ip} and sttus = "ACT01"
	</select>
	
	<select id="getServerListByIp" resultMap="serverVO">
		select * from SERVER where ip = #{ip} and sttus = "ACT01"
	</select>
	
	<select id= "getServerListByServerNmAndTeamId" resultMap="serverVO">
		select * from SERVER where server_nm = #{serverNm} and sttus = "ACT01"
	</select>
	
	<insert id= "addServer">
		insert into SERVER(server_nm,ip,sttus) values(#{serverNm},#{ip},"ACT01")
	</insert>
	
	<update id = "deleteServer">
		UPDATE SERVER SET sttus= "ACT02"  WHERE server_id = #{serverId}
	</update>
	
	<update id = "updateServer">
		UPDATE SERVER SET server_nm = #{serverNm}, ip= #{ip}, updde= current_timestamp WHERE server_id = #{serverId} and sttus = "ACT01"
	</update>
	
	<update id="deleteEventByServerId">
        UPDATE EVENT
        SET sttus = "ACT02"
        WHERE server_id = #{serverId}
    </update>
    
    <delete id="deleteEventHistoryByServerId">
        delete from EVENT_HISTORY
        WHERE server_id = #{serverId}
    </delete>
    
    <update id = "updateEvntMngrByEventId">
    	UPDATE EVENT_MANAGER
        SET sttus = "ACT02"
        WHERE event_id = #{eventId}
    </update>
    
    <select id = "getEventIdByServerId" resultType="int">
    	select event_id
    	from EVENT
    	where server_id = #{serverId} and sttus = "ACT01"
    </select>
	
</mapper>